* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   background-color: firebrick;
   color: white;
   
 }
 
 #app {
   max-width: 500px;
   margin: 0 auto;
   padding: 20px;
 }
 
 h1 {
   margin-bottom: 30px;
   text-align: center;
 }
 

 .add-todo {
   height: 50px;
   padding: 0 15px;
   width: 100%;
   font-size: 18px;
   border: 0;
   background-color:white;
   color: #ff8080;
   margin-bottom: 40px;
 }
 
 .todo li {
   display: flex;
   justify-content: space-between;
   border-bottom: 1px solid white;
   margin-bottom: 10px;
   padding-bottom: 10px;
 }
 
 .todo li:last-child {
   border-bottom: 0;
 }
 
 .todo li i {
   font-size: 22px;
   cursor: pointer;
 }
 
 .todo li .text.completed {
   text-decoration: line-through;
 }
 
 #template {
   display: none;
 }